#blue_tag { /* id */
  background-color: blue;
}

/*.font_30 { /* class */
  /*font-size: 30px;
}*/

h4 { /* all */
  color: purple;
}

body{
  background-color: black;
}

.card-girl-type {
  min-height: 450px !important;
}

.card-girl-img {
  object-fit: cover;
  height: 20vw !important;
}
