{% extends "base.html" %}

{% block page_content %}
  <body>
    <h4 class="jumbotron text-light bg-danger display-3 d-none d-md-block">Cưa gái đại cương</h4>
    <h4 class="text-primary d-md-none">Cưa gái đại cương</h4>

    <div class="container">
      <form class="" action="/search" method="get">
          <input type="text" name="girl" placeholder="Search.." class="search mb-3">
      </form>
      <div class ="row">
        {% for girl_type in girl_types %}
          <div class="col-md-4 col-sm-6 m*-3">
            <div class="card-girl-type card mb-4">
              <img src="{{ girl_type["image"] }}" alt="{{ girl_type["name"] }}" class ="card-girl-img mb-3 img-fluid card-img-top">
              <div class="card-body">
                <h4 class="card-title"> {{ girl_type["name"] }} </h4>
                <p class="text-danger">{{ girl_type["description"] }}</p>
              </div>
              <div class ="card-footer">
                <div class="clearfix">
                  <a href="/girl/{{ girl_type.id }}" class="float-right">
                    <button class="btn btn-dark float-right">Read more</button>
                  </a>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </body>
</html>
{% endblock %}
